<!DOCTYPE html>
<html  dir="rtl" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://semantic-ui.com/dist/semantic.min.css">
    <title>navbar</title>
</head>
<body>
<div class="ui secondary  menu" id="navbar">
    <a class="active item"  href =  "/"  id="homepage">
        صفحه اصلی
    </a>

    {% if not isauth %}
        <a class="item" href  = "/signup_view" id="register">
        ثبت نام
        </a>
        <a class="item"  href = "/login" id="login">
        ورود
        </a>
    {% endif %}
    <a class="item"  href= "/contact_us" id="id_navbar_contact_us">
        Contact us
    </a>
    <div class="right menu">
        <div class="item">
            <div class="ui icon input">
                <input type="text" placeholder="Search...">
                <i class="search link icon"></i>
            </div>
        </div>
        {% if isauth %}
        <a class="ui item" onclick='href = "/logout";' id="logout">
            Logout
        </a>
        {% endif %}
    </div>
</div>
<div id="id_content">
</div>

<div>
    {% block content %}
    {% endblock %}
</div>
</body>
</html>